<h1 style="font-size:3rm;color:green;">Kim Wolf - Knowledge Check 1

In [68]:
#Import Pandas into Juypter Notebook
import requests
import pandas as pd

In [69]:
#Requirement: Pull in data from an API.
#Notes: Import code from library and fetch data. Save the file into local environment. Read the file into a dataframe. 
#Requirement: Find and print TWO descriptive statistics about your data. 
#First statistic notes: The code print(df_web.shape) looks at the dataframe, then provides the number of rows and the number of columns.

import urllib
from urllib.request import urlretrieve

url = 'http://winterolympicsmedals.com/medals.csv'
urlretrieve(url, 'medals.csv')

df_web = pd.read_csv('medals.csv')
print(df_web.shape)
df_web.head()

(2311, 8)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [70]:
# Statistic: Provide data classes in data frame.
df_web.dtypes

Year             int64
City            object
Sport           object
Discipline      object
NOC             object
Event           object
Event gender    object
Medal           object
dtype: object

In [71]:
# Statistic: Quick look at the data frame.
df_web.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [72]:
#Display subset of data based on a particular parameter. Only show when Event is listed as "individual"
df_web[df_web['Event'] == 'individual']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
22,1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze
35,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Bronze
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
...,...,...,...,...,...,...,...,...
2242,2006,Turin,Skating,Figure skating,RUS,individual,W,Bronze
2257,2006,Turin,Bobsleigh,Skeleton,SUI,individual,M,Bronze
2258,2006,Turin,Bobsleigh,Skeleton,SUI,individual,W,Gold
2260,2006,Turin,Skating,Figure skating,SUI,individual,M,Silver
2290,2006,Turin,Skating,Figure skating,USA,individual,W,Silver

In [73]:
#Select and print the SECOND AND THIRD columns of your data frame.
df_web[['City','Sport']]

          City       Sport
0     Chamonix     Skating
1     Chamonix     Skating
2     Chamonix     Skating
3     Chamonix   Bobsleigh
4     Chamonix  Ice Hockey
...        ...         ...
2306     Turin      Skiing
2307     Turin      Skiing
2308     Turin      Skiing
2309     Turin      Skiing
2310     Turin      Skiing

[2311 rows x 2 columns]

In [74]:
#Select and print the FIRST 4 rows of your data frame.
df_web = df_web.head(4)
print(df_web)

   Year      City      Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix    Skating  Figure skating  AUT  individual            M
1  1924  Chamonix    Skating  Figure skating  AUT  individual            W
2  1924  Chamonix    Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix  Bobsleigh       Bobsleigh  BEL    four-man            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze